# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

# Yaml files
[*.{yaml, yml}]
indent_size = 2

# JSON files
[*.json]
insert_final_newline = false

# Markdown Files
[*.md]
trim_trailing_whitespace = false

# Batch Files
[*.{cmd, bat}]
end_of_line = crlf

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
